/* Example CSS */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9F1FF;
  color: #333333;
}

h1 {
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #E5D5F1;
  outline-style: solid;
  outline-width: 3px;
  outline-color: purple;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}